@model SistemaTI.Models.Recebido

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recebido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDocumento" />
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRecebimento" class="control-label"></label>
                <input asp-for="DataRecebimento" class="form-control" />
                <span asp-validation-for="DataRecebimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="origem" class="control-label"></label>
                <input asp-for="origem" class="form-control" />
                <span asp-validation-for="origem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <!-- <select id="status" multiple asp-for="Status" class="form-control"> -->
                    <option> ---- </option>
                    <optgroup label="Equipamento Proprio"></optgroup>
                    <option>Aquardando transporte</option>
                    <option>Aquardando compra de peça</option>
                    <optgroup label="Equipamento alugado"></optgroup>
                    <option>Aquardando tecnico</option>
                    <option>Aquardando troca</option>
                    <option>Aquardando peça</option>
                    <optgroup label="Finalizada"></optgroup>
                    <option>Solicitalção totalmente atendida</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipamento" class="control-label"></label>
                <input asp-for="Equipamento" class="form-control" />
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
