@model SistemaTI.Models.Equipamento

@{
    ViewData["Title"] = "Editar equipamento";
}

<h1 class="text-center">Editar equipamento</h1>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="EditVoltaLocal">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEquipamento" />

            <div class="card-deck">
            <div class="card shadow">
                <div class="card-header">Informação do equipamento</div>
                <div class="card-body">

                    
            <div class="form-group">
                <label asp-for="NuSerie" class="control-label"></label>
                <input asp-for="NuSerie" class="form-control" />
                <span asp-validation-for="NuSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuPatrimonio" class="control-label"></label>
                <input asp-for="NuPatrimonio" class="form-control" />
                <span asp-validation-for="NuPatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipValor" class="control-label"></label>
                <input asp-for="EquipValor" class="form-control" />
                <span asp-validation-for="EquipValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IP" class="control-label"></label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control">
                    <option>Em Funcionamento</option>
                    <option>Em Manutenção</option>
                    <option>Aguardando peça</option>
                    <option>Troca</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            </div>
            </div>

            <div class="card shadow">
                <div class="card-header">Processo</div>
                <div class="card-body">

            <div class="form-group">
                <label asp-for="LocalId" class="control-label"></label>
                <select id="local" asp-for="LocalId" class="form-control" asp-items="ViewBag.LocalId"></select>
                <span asp-validation-for="LocalId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EspecificacaoId" class="control-label"></label>
                <select id="Especificacao" asp-for="EspecificacaoId" class="form-control" asp-items="ViewBag.EspecificacaoId"></select>
                <span asp-validation-for="EspecificacaoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProcessoId" class="control-label"></label>
                <select asp-for="ProcessoId" class="form-control" asp-items="ViewBag.ProcessoId"></select>
                <span asp-validation-for="ProcessoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemProcessoID" class="control-label"></label>
                <select asp-for="ItemProcessoID" class="form-control" asp-items="ViewBag.ItemProcessoID"></select>
            </div>

                </div>
            </div>
            </div>
            <p></p>
            <div class="form-group btn-group d-flex ">
                <input type="submit" value="Salvar" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
