@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-xl-center">
    <h1 class="display-4">Bem Vindo ao Sistema de Infromações da TI</h1>
    <div class="col-md-4 align-items-md-center">
        <h2 class="alert-danger"> Versão de desenvolvimento</h2>
    </div>
    <p>
    </p>
</div>

<!-- Start of Rocket.Chat Livechat Script -->
<script type="text/javascript">
        (function (w, d, s, u) {
            w.RocketChat = function (c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
            j.async = true; j.src = 'https://172.15.0.1/rocketchat/livechat/rocketchat-livechat.min.js?_=201903270000';
            h.parentNode.insertBefore(j, h);
        })(window, document, 'script', 'https://172.15.0.1/rocketchat/livechat');
</script>