@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center align-items-xl-center">
    <h1 class="display-4">Bem Vindo ao Sistema de Informações da TI</h1>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card rounded shadow">
            <div class="card-header text-center">Atendimentos</div>
            <div class="card-body text-justify">
                Atualmente são atendidas: 122 Escolas, 21 Escolas de Ensino Infantil, 10 Casas da Inovação e 24 Setores da SEMED;
            </div>
        </div>

        <div class="card rounded shadow">
            <div class="card-header text-center">Equipamentos</div>
            <div class="card-body text-justify">
                Atualmente são atendidas: XX Escolas, YY Escolas de Ensino Infantil, ZZ Casas da Inovação e WW Setores da SEMED;
            </div>
        </div>

        <div class="card rounded shadow">
            <div class="card-header text-center">Ações</div>
            <div class="card-body text-justify">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">Realização de atendimentos internos e externos</li>
                    <li class="list-group-item list-group-item-action">Monitoramento dos equipamentos da SEMED e Escolas</li>
                    <li class="list-group-item list-group-item-action">Manter os servidores em atividade</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />

<div>
    <h2 class="alert-danger text-center text-white rounded-pill shadow" role="alert"> Versão de desenvolvimento - Versão 2</h2>
</div>

@section Scripts {

}