@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-xl-center">
    <h1 class="display-4">Bem Vindo ao Sistema de Infromações da TI</h1>
    <div class="col-md-4 align-items-md-center">
        <h2 class="alert-danger"> Versão de desenvolvimento</h2>
    </div>
    <p>
    </p>
</div>
