@{
    ViewData["Title"] = "Sobre o Ambiente do Sistema";
}
<h1>@ViewData["Title"]</h1>

<p>Está página contém as informações sobre as tecnologias utilizadas no sistema.</p>

<p>Como template de base de desenvolvimento foi utilizado o Asp.net Core MVC</p>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card rounded shadow">
            <div class="card-header text-center bg-success text-white">Front-end</div>
            <div class="card-body text-justify">
                <ul>
                    <li>HTML</li>
                    <li>JS</li>
                    <li>Bootstrap</li>
                    <li>C#</li>
                </ul>
            </div>
        </div>

        <div class="card rounded shadow">
            <div class="card-header text-center bg-warning text-white">Back-end</div>
            <div class="card-body text-justify">
                <ul>
                    <li>C#</li>
                    <li>.Net Framework</li>
                    <li>Entity Framework</li>
                </ul>
            </div>
        </div>

        <div class="card rounded shadow">
            <div class="card-header text-center bg-danger text-white">Infraestrutura</div>
            <div class="card-body text-justify">
                <ul>
                    <li>Virtualização LXD com Proxmox</li>
                    <li>Docker sobre Container LXD</li>
                    <li>SqlServer sobre Linux</li>
                </ul>
            </div>
        </div>

        <div class="card rounded shadow">
            <div class="card-header text-center bg-primary text-white">Desenvolvimento</div>
            <div class="card-body text-justify">
                <ul>
                    <li>Windows 10/11</li>
                    <li>Visual Studio 2019/22</li>
                    <li>Versionamento Git com GitHub</li>
                </ul>
            </div>
        </div>
    </div>
</div>