@model SistemaTI.Models.Local

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição da Unidade</h1>

<h4>Local</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idLocal" />

            <div class="row col">
                <div class="form-group col-md-3">
                    <label asp-for="localTipo" class="control-label"></label>
                    <select asp-for="localTipo" class="form-control">
                        <option>Escola Municipal</option>
                        <option>Escola Municipal Educação Infantil</option>
                        <option>Setores da SEMED</option>
                        <option>Casa de Inovação</option>
                        <option>Outros</option>
                    </select>
                    <span asp-validation-for="localTipo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="INEP" class="control-label"></label>
                    <input asp-for="INEP" class="form-control" />
                    <span asp-validation-for="INEP" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="NunProtocolo" class="control-label"></label>
                    <input asp-for="NunProtocolo" class="form-control" />
                    <span asp-validation-for="NunProtocolo" class="text-danger"></span>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Endereço</div>
                <div class="card-body">
                    <div class="row col">

                        <div class="row col">
                            <div class="form-group col-md-4">
                                <label asp-for="Logradouro" class="control-label"></label>
                                <input asp-for="Logradouro" class="form-control" />
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-1">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Bairro" class="control-label"></label>
                                <input asp-for="Bairro" class="form-control" />
                                <span asp-validation-for="Bairro" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-2">
                                <label asp-for="CEP" class="control-label"></label>
                                <input asp-for="CEP" class="form-control" />
                                <span asp-validation-for="CEP" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row col">
                        <div class="form-group col-md-1">
                            <label asp-for="Zona" class="control-label"></label>
                            <select asp-for="Zona" class="form-control">
                                <option>Urbana</option>
                                <option>Rural</option>
                            </select>
                            <span asp-validation-for="Zona" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="URG" class="control-label"></label>
                            <select asp-for="URG" class="form-control">
                                <option>Urg I - Centro</option>
                                <option>Urg II - Posse</option>
                                <option>Urg III - Comendador Soares </option>
                                <option>Urg IV - Cabuçu</option>
                                <option>Urg V - KM 32</option>
                                <option>Urg VI- Austin </option>
                                <option>Urg VII- Vila De Cava </option>
                                <option>Urg VIII- Miguel Couto  </option>
                                <option>Urg IX- Tinguá </option>
                            </select>
                            <span asp-validation-for="URG" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header">Contatos</div>
                <div class="card-body">
                    <div class="row col">

                        <div class="form-group col-md-4">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>

            <div class="card">
                <div class="card-header">Outros</div>
                <div class="card-body">

                    <div class="row">

                        <div class="form-group col-md-4">
                            <label asp-for="Situacao" class="control-label"></label>
                            <select asp-for="Situacao" class="form-control">
                                <option>Em Atividade</option>
                                <option>Em Construção</option>
                                <option>Em Obra</option>
                                <option>Paralisada</option>
                            </select>
                            <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Laboratorio" /> @Html.DisplayNameFor(model => model.Laboratorio)
                            </label>
                        </div>

                    </div>

                </div>
            </div>

            <hr>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
