@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">

                <div class="container">
                    
                    <!-- Inicio do card de login-->
                    <div class="card ">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-header">
                            <h4>Entrar no Sistema.</h4>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>


                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <a class="btn btn-info" id="forgot-password" asp-page="./ForgotPassword">Recuperar senha?</a>
                                    </p>
                                </div>

                                <div class="col">
                                    <p>
                                        <a class="btn btn-info" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar novo usuário</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Final do card de login-->
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
