@model SistemaTI.Models.Processo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Processo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProcesso" />
            <div class="form-group">
                <label asp-for="Objeto" class="control-label"></label>
                <input asp-for="Objeto" class="form-control" />
                <span asp-validation-for="Objeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroProcesso" class="control-label"></label>
                <input asp-for="NumeroProcesso" class="form-control" />
                <span asp-validation-for="NumeroProcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vigencia" class="control-label"></label>
                <input asp-for="Vigencia" class="form-control" />
                <span asp-validation-for="Vigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finalizacao" class="control-label"></label>
                <input asp-for="Finalizacao" class="form-control" />
                <span asp-validation-for="Finalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renovacao" class="control-label"></label>
                <input asp-for="Renovacao" class="form-control" />
                <span asp-validation-for="Renovacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

