@model SistemaTI.Models.ItensProcesso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItensProcesso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeSimples" class="control-label"></label>
                <input asp-for="NomeSimples" class="form-control" />
                <span asp-validation-for="NomeSimples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QTD" class="control-label"></label>
                <input asp-for="QTD" class="form-control" />
                <span asp-validation-for="QTD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medida" class="control-label"></label>
                <input asp-for="Medida" class="form-control" />
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessoId" class="control-label"></label>
                <select asp-for="ProcessoId" class="form-control" asp-items="ViewBag.ProcessoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
