<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema da TI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <!-- Links adicionais -->
    <!-- datatable -->
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

    <!-- Dropdown com textbox -->
    <link href="~/css/chosen.css" rel="stylesheet" />

    <!-- Dropdown com multiselect-->
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />

    <!-- Icones para o sistema-->
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SistemaTI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <!-- Gerenciamento de Usuário, apenas Usuários com nivel SuperAdmin tem acesso-->
                        @if (User.IsInRole("SuperAdmin")) // Usuário com regra de SuperAdmin tem acesso
                        {
                            <li class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="GerenciamentoUsuarios" data-toggle="dropdown">Gerenciamento</button>
                                <div class="dropdown-menu" aria-labelledby="GerenciamentoUsuarios">

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="GerenciamentoUsuarios" asp-action="Index">Usuário</a>

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="GerenciamentoUsuarios" asp-action="Regra">Níveis</a>
                                </div>
                            </li>
                        }


                        @if (User.Identity.IsAuthenticated)
                        {

                            <!-- locais são as Escolas, Setores e outros locais atendidos pelo setor -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Locais" asp-action="Index">Locais</a>
                            </li>
                            <!-- Área de Recursos exclusivos do Setor de TI -->
                            @if (User.IsInRole("TI"))
                            {
                                <!-- Dados sobre os equipamentos sob a respansabilidade da TI-->
                                <!-- Inicio do dropdown de equipamentos -->
                                <li class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownEquipamentos" data-toggle="dropdown">Tecnologia</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownEquipamentos">

                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Equipamentos" asp-action="Index">Equipamentos</a>

                                        <a asp-controller="Equipamentos" asp-action="Create" class="nav-link text-dark dropdown-item">Adicionar Equipamento</a>

                                        <div class="dropdown-divider"></div>

                                        <a asp-controller="Especificacoes" asp-action="Index" class="nav-link text-dark dropdown-item">Espeficações</a>

                                        <a asp-controller="Suprimentos" asp-action="Index" class="nav-link text-dark dropdown-item">Suprimentos</a>

                                        <a asp-controller="WiFis" asp-action="Index" class="nav-link text-dark dropdown-item">WiFi</a>

                                        <a asp-controller="Equipamentos" asp-action="Estatisticas" class="nav-link text-dark dropdown-item">Teste de Relatorios</a>
                                    </div>
                                </li>
                                <!-- Final do dropdown de equipamentos -->
                                <!-- Sistemas geranciados dos TI-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Sistemas" asp-action="Index">Sistemas</a>
                                </li>
                            }

                            <!-- Protocolo -->

                            <li class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownDocumentos" data-toggle="dropdown">Protocolo</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownDocumentos">

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Processos" asp-action="Index">Processos</a>

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Tramitacoes" asp-action="Index">Tramitação</a>

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="ItensProcessos" asp-action="Index">Itens do Processo</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Documentos" asp-action="IndexRecebido">Recebidos</a>

                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Documentos" asp-action="IndexEnviado">Enviados</a>

                                </div>
                            </li>

                            <!-- Tarefas de cada membro-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tarefas" asp-action="Index">Tarefas</a>
                            </li>


                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <!--container-fluid para almentar a area util das páginas-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SistemaTI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a href="https://172.15.0.3/livechat" target="_blank"> Nosso chat </a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Scripts adcionais -->
    <!-- Datatable-->
    <script src="~/js/jquery.dataTables.min.js"></script>

    <!-- multiselect -->
    <script src="~/js/bootstrap-multiselect.js"></script>

    <!-- Dropdown com textbox -->
    <script src="~/js/chosen.jquery.min.js"></script>

    <!-- Icones do Sistema-->
    <script src="~/js/fontawesome.min.js"></script>
    <script src="~/js/all.min.js"></script>



    <!-- Editor de texto -->
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>


    @RenderSection("Scripts", required: false)


    <script type="text/javascript">
        (function (w, d, s, u) {
            w.RocketChat = function (c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
            j.async = true; j.src = 'https://172.15.0.3/livechat/rocketchat-livechat.min.js?_=201903270000';
            h.parentNode.insertBefore(j, h);
        })(window, document, 'script', 'https://172.15.0.3/livechat');
    </script>

</body>
</html>

