@model SistemaTI.Models.WiFi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<h4>WiFi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Localid" class="control-label"></label>
                <select asp-for="Localid" class="form-control" asp-items="ViewBag.local">
                    <option value=""> --  Selação de departamento -- </option>
                </select>
                <span asp-validation-for="Localid" class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for="UsuarioADM" class="control-label"></label>
                <input asp-for="UsuarioADM" class="form-control" />
                <span asp-validation-for="UsuarioADM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenhaADM" class="control-label"></label>
                <input asp-for="SenhaADM" class="form-control" />
                <span asp-validation-for="SenhaADM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSID" class="control-label"></label>
                <input asp-for="SSID" class="form-control" />
                <span asp-validation-for="SSID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenhaSSID" class="control-label"></label>
                <input asp-for="SenhaSSID" class="form-control" />
                <span asp-validation-for="SenhaSSID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
